.loader {
  width: 30px;
  height:30px;
  border: 5px solid white;
  border-bottom-color: #6C63FF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 9%;
  margin-top: 4%;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
